<Context>

    <Resource name="jdbc/derby" auth="Container"
              driverClassName="org.apache.derby.jdbc.EmbeddedDriver"
              username="canyon" password="canyon"
              type="javax.sql.DataSource"
              url="jdbc:derby:src/main/resources/canyontrails.db;create=true"/>


    <!-- Uncomment this and comment above if you want to use hosted derby.
         You will need to run schema.sql on your derby server. -->
    <!--<Resource name="jdbc/derby" auth="Container"-->
              <!--driverClassName="org.apache.derby.jdbc.Driver42"-->
              <!--username="canyon" password="canyon"-->
              <!--type="javax.sql.DataSource"-->
              <!--url="jdbc:derby://127.0.0.1/canyontrails" />-->

</Context>